In [1]:
import numpy as np

In [2]:
import pandas as pd

df= pd.read_csv("Main_Craigslist.csv")

,posting_date,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,...,size,type,paint_color,image_url,description,state,lat,long,posting_date.1,removal_date
0,2021-04-16 00:00:00+00:00,362773,7307679724,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,...,full-size,sedan,white,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-05-02 00:00:00+00:00
1,2021-04-24 00:00:00+00:00,362712,7311833696,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,...,full-size,sedan,white,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-04-28 00:00:00+00:00
2,2021-04-23 00:00:00+00:00,362722,7311441996,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4900,2006.0,toyota,camry,...,full-size,sedan,silver,https://images.craigslist.org/00808_5FkOw2aGjA...,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-05-25 00:00:00+00:00
3,2021-04-16 00:00:00+00:00,362771,7307680715,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,...,full-size,sedan,white,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-26 00:00:00+00:00
4,2021-04-24 00:00:00+00:00,362710,7311834578,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,...,full-size,sedan,white,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-12 00:00:00+00:00
5,2021-04-16 00:00:00+00:00,362772,7307680254,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,honda,odyssey,...,full-size,sedan,white,https://images.craigslist.org/01616_fGayd5FvZb...,$6500.00 Cash 2008 Honda Odyssey 6 cylinder ...,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-27 00:00:00+00:00
6,2021-04-24 00:00:00+00:00,362711,7311834077,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,honda,odyssey,...,full-size,sedan,white,https://images.craigslist.org/01616_fGayd5FvZb...,$6500.00 Cash 2008 Honda Odyssey 6 cylinder ...,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-09 00:00:00+00:00
7,2021-04-23 00:00:00+00:00,362723,7311441803,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,11500,2014.0,honda,cr-v,...,full-size,SUV,white,https://images.craigslist.org/00N0N_4rGuHY0K9w...,2014 HONDA CR-V LX SUV Ready To Upgrade Your...,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-04-30 00:00:00+00:00
8,2021-04-18 00:00:00+00:00,362763,7308988448,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,11125,2014.0,toyota,camry,...,full-size,sedan,grey,https://images.craigslist.org/00Y0Y_lzoRI0OvfB...,2014 Grey Toyota Camry LE 4 dr with very clean...,tx,32.339483,-99.669829,2021-04-18 00:00:00+00:00,2021-05-11 00:00:00+00:00
9,2021-04-20 00:00:00+00:00,362752,7309998951,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,13500,2016.0,chrysler,town & country,...,full-size,mini-van,grey,https://images.craigslist.org/00l0l_2FtEUW2H9O...,2016 CHRYSLER TOWN & COUNTRY TOURING Mini-Van ...,tx,32.453848,-99.787900,2021-04-20 00:00:00+00:00,2021-05-06 00:00:00+00:00

In [36]:
df["posting_date"]= pd.to_datetime(df["posting_date"])

df.drop("description",inplace=True,axis=1)

posting_date    datetime64[ns, UTC]
Unnamed: 0                    int64
id                            int64
url                          object
region                       object
region_url                   object
price                       float64
year                          int64
manufacturer                 object
model                        object
condition                    object
cylinders                    object
fuel                         object
odometer                    float64
title_status                 object
transmission                 object
VIN                          object
drive                        object
size                         object
type                         object
paint_color                  object
image_url                    object
state                        object
lat                         float64
long                        float64
removal_date    datetime64[ns, UTC]
dtype: object

In [34]:
# df.dtypes

df["removal_date"] = pd.to_datetime(df["removal_date"])
df["posting_date"]= pd.to_datetime(df["posting_date"])
df= df.astype({       'price':"float64", 'year':"int64","year":"int64","description":"str"})

df.dtypes

posting_date    datetime64[ns, UTC]
Unnamed: 0                    int64
id                            int64
url                          object
region                       object
region_url                   object
price                       float64
year                          int64
manufacturer                 object
model                        object
condition                    object
cylinders                    object
fuel                         object
odometer                    float64
title_status                 object
transmission                 object
VIN                          object
drive                        object
size                         object
type                         object
paint_color                  object
image_url                    object
description                  object
state                        object
lat                         float64
long                        float64
removal_date    datetime64[ns, UTC]
dtype: object

In [42]:
from random import choice
fuel = df["fuel"].unique()
fuels= np.delete(fuel,2)
df["fuel"].replace("other",choice(fuel),inplace=True)

print(df["fuel"].unique())

['gas' 'diesel' 'hybrid' 'electric']

In [37]:
import pyodbc

pyodbc.drivers()

import pyodbc

conn = pyodbc.connect(
    Driver="ODBC Driver 17 for SQL Server",
    Server='JAQENIZO\SQLEXPRESS',
    Trusted_Connection="yes",  # or "no" if not using Windows Authentication
    Database="CRAIGSLIST"
)


cursor = conn.cursor()

In [41]:
insert_query = """
INSERT INTO VEHICLES_DETAILS(
    posting_date, Unnamed_0, id, link_url, region, region_url, price, manufac_year, manufacturer,
    model, car_condition, cylinders, fuel, odometer, title_status, transmission, VIN, drive,
    size, car_type, paint_color, image_url, veh_state, lat, longitude, removal_date
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

for i in df.itertuples(index=False):
    conn.execute(insert_query,i)
    
conn.commit()
cursor.close()
conn.close()